{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Profil {% endblock %}

{% block body %}
    {#{% trans_default_domain 'FOSUserBundle' %}#}

    {% block fos_user_content %}

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="container-fluid">

            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Profil</h4>
                </div>
                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
                            <li class="breadcrumb-item active">Profil</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Column -->
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <center class="m-t-30">
                                {% set user = app.user %}
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <h5 class="card-subtitle m-t-10">
                                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                                    </h5>
                                    <a class="btn btn-rounded btn-outline-danger" href="{{ path('fos_user_security_logout') }}">
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                {% endif %}
                            </center>
                        </div>
                        <hr>
                    </div>
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="col-lg-8 col-xlg-9 col-md-7">
                    <div class="card">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs profile-tab" role="tablist">
                            <li class="nav-item"> <a class="nav-link" href="{{ path('fos_user_profile_show') }}">Profil</a> </li>
                            <li class="nav-item"> <a class="nav-link" href="{{ path('fos_user_profile_edit') }}" role="tab">Modifier informations du compte</a> </li>
                            <li class="nav-item"> <a class="nav-link active show" href="javascript:void(0)">Changer mon mot de passe</a> </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="settings" role="tabpanel">
                                <center>
                                    <div class="alert alert-danger col-lg-8 col-sm-12 m-t-10">
                                        <p style="font-weight: 500;">En changeant le mot de passe, n'oubliez pas que desormais il ne sera plus valide
                                            lors de la connexion. Vous aurez à vous connecter avec le nouveau mot de passe.
                                        </p>
                                    </div>
                                </center>
                                <div class="card-body">
                                    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password form-horizontal form-material' } }) }}
                                    <div class="form-group">
                                        <label class="col-md-12">{{ form_label(form.current_password) }}</label>
                                        <div class="col-md-12">
                                            {{ form_widget(form.current_password, {'attr': {'class': 'form-control form-control-line'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">{{ form_label(form.plainPassword.first) }}</label>
                                        <div class="col-md-12">
                                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control form-control-line'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">{{ form_label(form.plainPassword.second) }}</label>
                                        <div class="col-md-12">
                                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control form-control-line'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <button class="btn btn-success"><i class="fa fa-edit"></i> {{ 'change_password.submit'|trans({}, 'FOSUserBundle') }} </button>
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock fos_user_content %}

{% endblock %}