{% extends '@FOSUser/layout.html.twig' %}

{% block title %} {{ parent() }} | Connexion {% endblock %}

{% block stylesheets %}
    <!-- page css -->
    <link href="{{ asset('assets/css/pages/login-register-lock.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/pages/other-pages.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet">
    <style>
        @media only screen and (min-width: 600px) {
            /* For tablets: */

        }
        @media only screen and (max-width: 768px) {
            /* For Phones: */
        }
    </style>
{% endblock %}

{% block body %}

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper" class="login-register login-sidebar" style="background-image:url({{ asset('./assets/images/login.jpg') }});"{# style="background-image:url({{ asset('./assets/images/background/login-register.jpg') }});" #}>
        <div class="row" style="overflow-y: auto; height: 100%;">
            <div class="col-lg-7 col-md-12" style="padding: 5%;padding-right: 0;">


                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <!-- Column -->
                            <div class="col-lg-12 col-md-12">
                                <h2 class="card-title text-center">QUESTIONS IMPORTANTES </h2>

                            </div>
                            <!-- Column -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12" style=" padding: 5%;">
                <div class="login- card" >
                    <div class="card-body">
                        <form class="form-horizontal form-material text-center" id="loginform" method="post" action="{{ path('fos_user_security_check') }}">
                            <a href="javascript:void(0)" class="text-black-50">
                                <img style="height:150px;max-width: 100%;" src="{{ asset('logo.png') }}" alt="Home" />
                                <h5>Espace de réservation routière</h5>
                            </a>
                            {#<div class="alert alert-warning text-danger" style="margin-top: 1rem;">#}
                                {#<h4 class="text-danger"><i class="fa fa-exclamation-circle"></i> Info</h4>#}
                                {#<p style="margin-bottom: 0;">Si vous êtes anciens ou avez eu votre avant 2018 et que vous n'avez pas encore créé un compte à la DBS.#}
                                    {#Inscrivez-vous et faîtes votre demande <strong>maintenant!</strong></p>#}
                            {#</div>#}
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}
                            {% if error %}
                                <div class="alert alert-danger" style="margin-top: 1rem;">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                                    <h4 class="text-danger"><i class="fa fa-exclamation-circle"></i> Erreur</h4>
                                    <p style="margin-bottom: 0;">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                                </div>
                            {% endif %}
                            <div class="form-group m-t-40">
                                <div class="col-xs-12">
                                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"
                                           required="required" placeholder="Email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input class="form-control" type="password" id="password" name="_password"
                                           required="required" autocomplete="off" placeholder="Mot de passe" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="d-flex no-block align-items-center">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="remember_me" name="_remember_me" data-toggle="checkbox">
                                            <label class="custom-control-label" for="remember_me">Se souvenir de moi</label>
                                        </div>
                                        <div class="ml-auto">
                                            <a href="" id="to-recover" class="text-muted"><i class="fas fa-lock m-r-5"></i>Mot de passe oublié?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center m-t-20">
                                <div class="col-xs-12">
                                    <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">Se connecter</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
{% endblock %}

{% block footer %} {% endblock %}

{% block javascripts %}
    <!--Custom JavaScript -->
    <script type="text/javascript">
        $(function() {
            $(".preloader").fadeOut();
        });
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        });
        // ==============================================================
        // Login and Recover Password
        // ==============================================================
        $('#to-recover').on("click", function() {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
        $('.to-login').on("click", function() {
            $("#recoverform").slideUp();
            $("#loginform").fadeIn();
        });
    </script>
{% endblock %}