<!-- Left Sidebar -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            {% if is_granted('ROLE_ADMIN') %}
                <ul id="sidebarnav">
                    {#<li class="nav-small-cap"></li>#}
                    <li style="margin-bottom: 0;"> <a class="waves-effect waves-dark" href="{{ path('index') }}"><i class="icon-speedometer"></i><span class="hide-menu">Tableau de bord</span></a>
                    </li>
                    <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-hospital"></i><span class="hide-menu">Compagnies</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="{{ path('company_new') }}">Ajouter une compagnie</a></li>
                            <li><a href="{{ path('company_index') }}">Liste des compagnie</a></li>
                        </ul>
                    </li>
                    <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-car"></i><span class="hide-menu">Voyages</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="{{ path('travel_new') }}">Ajouter un voyage</a></li>
                            <li><a href="{{ path('travel_index') }}">Liste des voyages</a></li>
                            <li><a href="{{ path('travel_archived') }}">Liste des voyages archivés</a></li>
                        </ul>
                    </li>
                    <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-notebook"></i><span class="hide-menu">Reservations</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="{{ path('booking_index') }}">Liste des réservations</a></li>
                            <li><a href="{{ path('booking_confirmed') }}">Réservations confirmés</a></li>
                            <li><a href="{{ path('booking_waiting') }}">Réservations en attente</a></li>
                        </ul>
                    </li>
                    <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-users"></i><span class="hide-menu">Utilisateurs</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="{{ path('user_new') }}">Ajouter un utilisateur</a></li>
                            <li><a href="{{ path('user_index') }}">Liste des utilisateur</a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->

</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->