{% extends '@FOSUser/layout.html.twig' %}

{% block title %} {{ parent() }} | Email {% endblock %}

{% block stylesheets %}
    <!-- page css -->
    <link href="{{ asset('assets/css/pages/login-register-lock.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/pages/other-pages.css') }}" rel="stylesheet">
    <style>
        .login-register {
            padding: 5% 0;
        }
    </style>
{% endblock %}

{% block body %}

    {% block fos_user_content %}
        {#{% trans_default_domain 'FOSUserBundle' %}#}

        <section id="wrapper">
            <div class="login-register" {# style="background-image:url({{ asset('assets/images/background/login-register.jpg') }});" #}>
                <div class="login-box card bg-info text-white">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">Lien de réinitialisation envoyé</h4></div>
                    <div class="card-body">
                        {% if tokenLifetime is defined %}
                            <p>
                                {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime}, 'FOSUserBundle')|nl2br }}
                            </p>
                            <a class="btn btn-dark" href="{{ path('fos_user_security_login') }}">Retourner</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}

{% endblock %}