{% extends '@FOSUser/layout.html.twig' %}

{% block title %} {{ parent() }} | Mot de passe oublié {% endblock %}

{% block stylesheets %}
    <!-- page css -->
    <link href="{{ asset('assets/css/pages/login-register-lock.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/pages/other-pages.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/node_modules/datepicker/dist/datepicker.css') }}">
    <style>
        .login-register {
            padding: 5px 0;
            overflow: auto;
        }
    </style>
{% endblock %}

{% block body %}

    {% block fos_user_content %}
        {#{% trans_default_domain 'FOSUserBundle' %}#}

        <section id="wrapper">
            <div class="login-register" {# style="background-image:url({{ asset('assets/images/background/login-register.jpg') }});" #}>
                <div class="login-box card">
                    <div class="card-title text-center m-t-5">
                        <a href="javascript:void(0)" class="text-black-50">
                            <img src="{{ asset('logo.png') }}" alt="Home" /><br/>Direction des Bourses et Stages
                        </a>
                    </div>
                    {% if error is defined and error %}
                        <center>
                            <div class="col-sm-10 alert alert-danger alert-rounded">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                {{ error }}
                            </div>
                        </center>
                    {% endif %}
                    <div class="card-body p-t-5">
                        <h4 class="card-title text-center">Réinitialisation votre mot de passe</h4>
                        {#<ul class="nav nav-tabs" id="myTab" role="tablist">#}
                            {#<li class="nav-item">#}
                                {#<a class="nav-link active" id="sms-item" data-toggle="tab" href="#sms" role="tab" aria-controls="secret-tab">#}
                                    {#<span class="hidden-sm-up"><i class="mdi mdi-lock"></i></span>#}
                                    {#<span class="hidden-xs-down">Méthode 1</span>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li class="nav-item">#}
                                {#<a class="nav-link" id="email-item" data-toggle="tab" href="#email" role="tab" aria-controls="email-tab" aria-expanded="true">#}
                                    {#<span class="hidden-sm-up"><i class="mdi mdi-at"></i></span>#}
                                    {#<span class="hidden-xs-down">Méthode 2</span>#}
                                {#</a>#}
                            {#</li>#}
                        {#</ul>#}
                        <div class="tab-content tabcontent-border p-20" id="myTabContent">
                            {% if resetForm is defined %}
                            <div class="tab-pane fade show active" id="sms" role="tabpanel" aria-labelledby="sms-tab">
                                {{ form_start(resetForm, {'attr': {'class': 'form-horizontal', 'method': 'POST', 'action': path('user_resetting_request')}}) }}
                                    <div class="form-group ">
                                        <div class="col-xs-12">
                                            {{ form_widget(resetForm.numeroTable, {'attr': {'class': 'form-control', 'placeholder': 'Numéro de table'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-xs-12">
                                            {{ form_widget(resetForm.anneeBac, {'attr': {'class': 'form-control', 'placeholder': 'Année du bac'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-xs-12">
                                            {{ form_widget(resetForm.dateNaissance,
                                                {'attr': {'class': 'form-control', 'placeholder': 'Date de naissance', 'data-toggle': 'datepicker'}})
                                            }}
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-xs-12">
                                            <code>Votre question secrète.</code>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-xs-12">
                                            {{ form_widget(resetForm.secret.secretQuestion) }}
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-xs-12">
                                            <code>Votre réponse secrète.</code>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-xs-12">
                                            {{ form_widget(resetForm.secret.secretResponse, {'attr': {'class': 'form-control select'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group row text-center m-t-20">
                                        <div class="col-6">
                                            <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">
                                                Réinitialiser
                                            </button>
                                        </div>
                                        <div class="col-6">
                                            <a href="{{ path('fos_user_security_login') }}" class="btn btn-danger btn-block to-login">Annuler</a>
                                        </div>
                                    </div>
                                {{ form_rest(resetForm) }}
                                {{ form_end(resetForm) }}
                            </div>
                            {% endif %}
                            {#<div role="tabpanel" class="tab-pane" id="email" aria-labelledby="email-tab">#}
                                {#<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-horizontal">#}
                                    {#{% if invalid_username is defined  %}#}
                                        {#<div class="alert alert-danger">#}
                                            {#<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>#}
                                            {#<p style="margin-bottom: 0;">{{  'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>#}
                                        {#</div>#}
                                    {#{% endif %}#}
                                    {#<div class="form-group ">#}
                                        {#<div class="col-xs-12">#}
                                            {#<input class="form-control" type="text" id="username" name="username"#}
                                                   {#required="required" placeholder="Nom d'utilisateur ou email" />#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="form-group row text-center m-t-20">#}
                                        {#<div class="col-6">#}
                                            {#<button class="btn btn-primary btn-block waves-effect waves-light" type="submit">#}
                                                {#Réinitialiser#}
                                            {#</button>#}
                                        {#</div>#}
                                        {#<div class="col-6">#}
                                            {#<a href="{{ path('fos_user_security_login') }}" class="btn btn-danger btn-block to-login">Annuler</a>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</form>#}
                            {#</div>#}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock fos_user_content %}

{% endblock %}

{% block javascripts %}

    {% if found is defined and found and etudiant is defined and etudiant %}
        <!-- sample modal content -->
        <div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-danger" id="mySmallModalLabel">Reinitiailiser le compte</h4>
                    </div>
                    <div class="modal-body">
                        <p style="font-weight: 500; display: block;">
                            <code>
                                En changeant les informations comme l'adresse e-mail ou le mot de passe, n'oubliez pas que desormais ils ne seront plus valide
                                lors de la connexion. Vous aurez à vous connecter les nouvelles informations.
                            </code>
                        </p>
                        <hr>
                        {{ form_start(editForm) }}
                        <div class="card">
                            <div class="card-body">
                                {% if form_errors(editForm) or errors is defined %}
                                    <div class="row d-flex justify-content-center">
                                        <div class="alert alert-danger text-center col-10">
                                            {% if errors %}
                                                <p>
                                                    {% for error in errors %}{{ error }}<br>{% endfor %}
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="form-group row">
                                    <div class="col-6 row">
                                        <label class="col-4 col-form-label">{{ form_label(editForm.nom) }}</label>
                                        <div class="col-8">
                                            {{ form_widget(editForm.nom, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-6 row">
                                        <label class="col-4 col-form-label">{{ form_label(editForm.prenoms) }}</label>
                                        <div class="col-8">
                                            {{ form_widget(editForm.prenoms, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-6 row">
                                        <label class="col-4 col-form-label">{{ form_label(editForm.numeroTable) }}</label>
                                        <div class="col-8">
                                            {{ form_widget(editForm.numeroTable, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-6 row">
                                        <label class="col-4 col-form-label">{{ form_label(editForm.anneeBac) }}</label>
                                        <div class="col-8">
                                            {{ form_widget(editForm.anneeBac, {'attr': {'class': 'form-control', 'disabled': 'disabled'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">{{ form_label(editForm.email) }}</label>
                                    <div class="col-8">
                                        {{ form_widget(editForm.email, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">{{ form_label(editForm.plainPassword.first) }}</label>
                                    <div class="col-8">
                                        {{ form_widget(editForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">{{ form_label(editForm.plainPassword.second) }}</label>
                                    <div class="col-8">
                                        {{ form_widget(editForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <span id="pass_conf" class="text-danger" style="display: none; font-weight: 500">
                                        Les mot de passe ne correspondent pas.
                                    </span>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                                <div class="col-sm-4">
                                    <button type="submit" id="submit" class="btn btn-block btn-rounded btn-success waves-effect waves-light m-r-10">
                                        <i class="fas fa-edit"></i> Sauvegarder</button>
                                </div>
                            </div>
                        </div>
                        {{ form_end(editForm) }}
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <button id="modalButton" hidden style="display: none;" data-toggle="modal" data-target=".bs-example-modal-sm" class="model_img img-responsive">
        </button>
        <script>
            document.getElementById('modalButton').click();
            var first = $('#appbundle_compte_plainPassword_first');
            var second = $('#appbundle_compte_plainPassword_second');

            $(first).removeAttr('required');
            $(second).removeAttr('required');

            $(first).keyup(function (e) {
                $('#submit').attr('disabled', 'disabled');
            });
            $(second).keyup(function (e) {
                if ( $(this).val() ===  $('#appbundle_compte_plainPassword_first').val()) {
                    $('#submit').removeAttr('disabled');
                    $('#pass_conf').css('display', 'none');
                }
                else {
                    $('#submit').attr('disabled', 'disabled');
                    $('#pass_conf').css('display', 'block');
                }
            });

            $("#myModal").on("hidden.bs.modal", function () {
                window.history.back()
            });
        </script>
    {% endif %}

    <script src="{{ asset('assets/node_modules/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/node_modules/datepicker/dist/datepicker.js') }}"></script>
    <script src="{{ asset('assets/node_modules/datepicker/i18n/datepicker.fr-FR.js') }}"></script>
    <script>
        $('[data-toggle="datepicker"]').datepicker({
            language: 'fr-FR'
        });
    </script>
    <script>
        $(document).ready(function() {
            $('select.form-control').select2();
        });
    </script>
{% endblock %}