{% extends '@FOSUser/layout.html.twig' %}

{% block title %} {{ parent() }} | Mot de passe oublié {% endblock %}

{% block stylesheets %}
    <!-- page css -->
    <link href="{{ asset('assets/css/pages/login-register-lock.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/pages/other-pages.css') }}" rel="stylesheet">
    <style>
        @media only screen and (min-width: 600px) {
            /* For tablets: */

        }
        @media only screen and (max-width: 768px) {
            /* For Phones: */
        }
    </style>
{% endblock %}

{% block body %}
    {% block fos_user_content %}
        <section id="wrapper">
            <div class="login-register" {# style="background-image:url({{ asset('assets/images/background/login-register.jpg') }});" #}>
                <div class="login-box card">
                    <div class="card-title text-center m-t-10">
                        <a href="javascript:void(0)" class="text-black-50">
                            <img src="{{ asset('logo.png') }}" alt="Home" /><br/>Direction des Bourses et Stages
                        </a>
                    </div>
                    <div class="card-body p-t-5">
                        <h4 class="card-title text-center">Réinitialisation votre mot de passe</h4>
                        <p class="text-muted">Saisissez et confirmez votre nouveaux mot de passe</p>
                        <form action="{{ path('fos_user_resetting_reset',  {'token': token}) }}"  method="POST" class="fos_user_resetting_request form-horizontal">
                           {% if form_errors(form) %}
                               <div class="alert alert-danger" style="margin-top: 1rem;">
                                   <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                                    <p style="margin-bottom: 0;">{{ form_errors(form) }}</p>
                                   {% if form.plainPassword.first.vars.errors|length %}
                                       {% set errors = form.plainPassword.first.vars.errors %}
                                           {% for error in errors %}
                                               <p style="margin-bottom: 0;">{{ error.message }}</p>
                                           {% endfor %}
                                   {% endif %}
                               </div>
                           {% endif %}
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    {{ form_label(form.plainPassword.first) }}
                                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-xs-12">
                                    {{ form_label(form.plainPassword.second) }}
                                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            {{ form_rest(form) }}
                            <div class="form-group text-center m-t-20">
                                <div class="col-xs-12">
                                    <button class="btn btn-primary btn-lg btn-block waves-effect waves-light" type="submit">
                                        {{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    {% endblock fos_user_content %}

{% endblock %}

{% block footer %} {% endblock %}