{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Accueil {% endblock %}

{% block body %}
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-7 align-self-center ">
                <div class="d-flex justify-content-start align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
                        {#<li class="breadcrumb-item active">Real Estate Dashboard</li>#}
                    </ol>
                    {#<button class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>#}
                </div>
            </div>
            <div class="col-md-5 align-self-center text-right">
                {% if is_granted('ROLE_ADMIN') %}
                    <h4 class="text-themecolor text-muted">Espace d'administration</h4>
                {% endif %}
            </div>
        </div>


            <!--.row -->
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title ">Voyages</h5>
                            <div class="d-flex align-items-center no-block m-t-20 m-b-10">
                                <h1><i class="fa fa-car text-info"></i></h1>
                                <div class="ml-auto">
                                    <h1 class="text-muted"><span class="count">{{ travels }}</span></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title ">Réservations</h5>
                            <div class="d-flex align-items-center no-block m-t-20 m-b-10">
                                <h1><i class="icon-notebook text-purple"></i></h1>
                                <div class="ml-auto">
                                    <h1 class="text-muted"><span class="count">{{ bookings }}</span></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title ">Réservations confirmés</h5>
                            <div class="d-flex align-items-center no-block m-t-20 m-b-10">
                                <h1><i class="icon-check text-success"></i></h1>
                                <div class="ml-auto">
                                    <h1 class="text-muted"><span class="count">{{ confirmedBookings }}</span></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card" style="height: 140px;">
                        <div class="card-body">
                            <h5 class="card-title ">Réservations en attente</h5>
                            <div class="d-flex align-items-center no-block m-t-20 m-b-10">
                                <h1><i class="icon-clock text-warning"></i></h1>
                                <div class="ml-auto">
                                    <h1 class="text-muted">{{ waitingBookings }}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
{% endblock %}

{% block javascripts %}
    {% if is_granted('ROLE_ADMIN') %}
        <script src="{{ asset('assets/js/dashboard1.js') }}"></script>
        <script src="{{ asset('assets/node_modules/Chart.js/Chart.min.js') }}"></script>
        <script src="{{ asset('assets/node_modules/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js') }}"></script>
    {% endif %}
{% endblock %}