{% extends '@FOSUser/layout.html.twig' %}

{% block title %} {{ parent() }} | Email {% endblock %}

{% block stylesheets %}
    <!-- page css -->
    <link href="{{ asset('assets/css/pages/login-register-lock.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/pages/other-pages.css') }}" rel="stylesheet">
    <style>
        .login-register {
            padding: 5% 0;
        }
    </style>
{% endblock %}

{% block body %}

    {% block fos_user_content %}
        {% trans_default_domain 'FOSUserBundle' %}

        <section id="wrapper">
            <div class="login-register" {# style="background-image:url({{ asset('assets/images/background/login-register.jpg') }});" #}>
                <div class="login-box card bg-success text-white">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">Lien de confirmation envoyé</h4></div>
                    <div class="card-body">
                        <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
                        {#<a class="btn btn-dark" href="{{ path('index') }}">Recevoir plutôt le code par SMS</a>#}
                        <a class="btn btn-dark" href="{{ path('fos_user_security_login') }}">OK</a>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}

{% endblock %}

{% block javascripts %}
    <script>
        // Mettre à jour le compte nouvelement créer
        if (localStorage.getItem('stud')) {
            var data = {
                acct: {{ user.id }},
                stud: localStorage.getItem('stud')
            };
            $.ajax({
                type: 'POST',
                url: Routing.generate('ajax_update_etudiant'),
                dataType: 'json',
                data: data,
                async: false, cache: false
            })
                .then(function (response) {
                    // console.log('Setting user account: ' + response['result']);
                    localStorage.removeItem('stud');
                })
                .catch(function (reason) {
                    // console.log('Setting user account: Error');
                    localStorage.removeItem('stud');
                });
        }

        // Mettre à jour le compte nouvelement créer
        else if (localStorage.getItem('bacho')) {
            var data = {
                acct: {{ user.id }},
                bacho: localStorage.getItem('bacho')
            };
            $.ajax({
                type: 'POST',
                url: Routing.generate('ajax_update_bachelier'),
                dataType: 'json',
                data: data,
                async: false, cache: false
            })
                .then(function (response) {
                    // console.log('Setting user account: ' + response['result']);
                    localStorage.removeItem('bacho');
                })
                .catch(function (reason) {
                    // console.log('Setting user account: Error');
                    localStorage.removeItem('bacho');
                });
        }
    </script>
{% endblock %}