{% extends '@FOSUser/layout.html.twig' %}

{% block title %} {{ parent() }} | Activation {% endblock %}

{% block stylesheets %}
    <!-- page css -->
    <link href="{{ asset('assets/css/pages/login-register-lock.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/pages/other-pages.css') }}" rel="stylesheet">
    <style>
        .login-register {
            padding: 5% 0;
        }
    </style>
    <script>
        window.location = Routing.generate('index', true);
    </script>
{% endblock %}

{% block body %}

    {% block fos_user_content %}
        {% trans_default_domain 'FOSUserBundle' %}

        <section id="wrapper">
            <div class="login-register" {# style="background-image:url({{ asset('assets/images/background/login-register.jpg') }});" #}>
                <div class="login-box card bg-success text-white">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">Compte activé avec succès</h4></div>
                    <div class="card-body">
                        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
                        <a class="btn btn-dark" href="{{ path('espace_etudiant_edit_info') }}">Continuer</a>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}

{% endblock %}