{% extends '@FOSUser/layout.html.twig' %}

{% block title %} {{ parent() }} | Inscription {% endblock %}

{% block stylesheets %}
    <!-- This page CSS -->
    <link href="{{ asset('assets/node_modules/select2/dist/css/select2.min.css') }}" rel="stylesheet">

    <link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet">

    <link href="{{ asset('assets/node_modules/wizard/steps.css') }}" rel="stylesheet">
    <!--alerts CSS -->
    <link href="{{ asset('assets/node_modules/sweetalert/sweetalert.css') }}" rel="stylesheet" type="text/css">
    {# Custom #}
    <link rel="stylesheet" href="{{ asset('assets/icons/flaticon/flaticon.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/node_modules/datepicker/dist/datepicker.css') }}">
    <style>
        .hide {
            display: none!important;
        }
        #customLoader {
            width: 100%;
            height: 100%;
            top: 0;
            position: fixed;
            z-index: 99999;
            background: #fff;
        }
        a .nav-link {
            padding: 1rem;
            height: 100%;  }
    </style>
    <style>
        /* Styles for verification */
        #pswd_info ul {
            margin:0;
            padding:0;
            list-style-type:none;
        }
        #pswd_info {
            /* position: absolute; */
            /* bottom: -95px; */
            bottom: -115px\9;
            /* right: 55px; */
            width: auto;
            padding: 15px;
            background: #fefefe;
            font-size: .875em;
            border-radius: 5px;
            box-shadow: 0 1px 3px #ccc;
            border: 1px solid #ddd;
            display: none;
            margin-top: -15px;
        }
        #pswd_info::before {
            content: "\25B2";
            position: absolute;
            top: 73px;
            left: 45%;
            font-size: 14px;
            line-height: 14px;
            color: #ddd;
            text-shadow: none;
            display: block;
        }
        #pswd_info h4 {
            margin:0 0 10px 0;
            padding:0;
            font-weight:normal;
        }
        .invalid {
            background:url({{ asset('assets/images/invalid.png') }}) no-repeat 0 50%;
            padding-left:22px;
            line-height:24px;
            color:#ec3f41;
        }
        .valid {
            background:url({{ asset('assets/images/valid.png') }}) no-repeat 0 50%;
            padding-left:22px;
            line-height:24px;
            color:#3a7d34;
        }
        span.select2.select2-container.select2-container--default {
            width: 100%!important;
        }
        .ligne .custom-control {
            display: inline-block;
            margin-top: 20px;
            margin-left: 20px;
        }
    </style>
     <link href="dist/css/pages/tab-page.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Création de compte à la DBS </h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Vous avez-déja un compte ?</li>
                    </ol>
                    <a href="{{ path('fos_user_security_login') }}" class="btn btn-info d-lg-block m-l-15"><i class="fa fa-user"></i> Se connecter</a>
                </div>
            </div>
        </div>
        <div class="card">
                <ul class="nav nav-tabs profile-tab" role="tablist">
                    <li class="nav-item"> <a class="nav-link active show" data-toggle="tab" href="#national" role="tab" >Etudiant Nationale</a> </li>
                    <li class="nav-item"> <a class="nav-link"   href="{{ path('registration_show') }}">Boursiers Internationaux avec BAC ETRANGER</a> </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="national" role="tabpanel">
                         <section id="wrapper" class="login-register login-sidebar">
                             <div class="login-box card">
                                <div class="row" id="validation">
                                    <div class="col-12">
                                        <div id="wizard" class="card wizard-content">
                                            <div class="card-body" >
                                                <h4 class="card-title">Processus de création de compte</h4>
                                                <h6 class="card-subtitle">Suivez SVP l'assitant.</h6>
                                                <div class="col-md-12">
                                                </div>
                                                <center>
                                                    {% for widget in form %}
                                                        {% if form_errors(widget) %}
                                                        <div class="col-sm-6 alert alert-danger">
                                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                            {{ form_errors(widget) }}
                                                        </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </center>
                                                {{ form_start(form, {'attr': {'class': 'validation-wizard wizard-circle'}}) }}
                                                    <!-- Step 1 -->
                                                    <h6>Informations de base</h6>
                                                    <section id="section1">
                                                        <div class="row">
                                                            <div id="nuTableDiv" class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="nuTableField"> Numéro de table : <span class="danger">*</span> </label>
                                                                    <input type="text" class="form-control required" id="nuTableField" name="firstName"> </div>
                                                            </div>
                                                            <div id="sessionBacDiv" class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="anneeBacField"> Annee Bac : <span class="danger">*</span> </label>
                                                                    <input name="anneeBacField" id="anneeBacField" value="2018" class=" form-control">
                                                                </div>
                                                            </div>
                                                            <div id="sessionBacDiv" class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="sessionBacField"> Session Bac : <span class="danger">*</span> </label>
                                                                    <select name="sessionBacField" id="sessionBacField" class="custom-select form-control"></select>
                                                                </div>
                                                            </div>
                                                            <div id="univDiv" class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="univField"> Université : <span class="danger">*</span> </label>
                                                                    <select class="custom-select form-control required" id="univField" name="univField">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {# Mis en commentaire pour le momemnt #}
                                                        {#<div class="row">#}
                                                            {#<div id="nuCarteDiv" class="col-md-6">#}
                                                                {#<div class="form-group">#}
                                                                    {#<label for="nuCarteField"> Numéro de carte : </label>#}
                                                                    {#<input type="text" class="form-control" id="nuCarteField" name="emailAddress"> </div>#}
                                                            {#</div>#}
                                                        {#</div>#}
                                                    </section>
                                                    <!-- Step 2 -->
                                                    <h6>Vos informations personnelles</h6>
                                                    <section>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="dateNaissanceField">Date de naissance : *</label>
                                                                    <input type="date" class="form-control required" id="dateNaissanceField" name="dateNaissance">
                                                                </div>
                                                            </div>
                                                            {#<div class="col-md-6">#}
                                                                {#<div class="alert alert-danger">#}
                                                                    {#<i class="fa fa-exclamation-triangle"></i>#}
                                                                    {#Le numéro de téléphone est très important, il vous permettra de valider votre compte ou de réinitialiser#}
                                                                    {#votre mot de passe par après. Veuillez renseignez un numéro valide.#}
                                                                {#</div>#}
                                                            {#</div>#}
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="numTelField">Numéro de téléphone : *</label>
                                                                    <div class="input-group">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text" id="basic-addon2">228</span>
                                                                        </div>
                                                                        <input type="tel" name="numTelField" id="numTelField" placeholder="Ex: 90 00 00 00 (Sans indicatif)"
                                                                               aria-label="Tel" aria-describedby="basic-addon2" class="form-control required">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <!-- Step 3 -->
                                                    <h6>Valider vos informations personnelles</h6>
                                                    <section>
                                                        <div class="row" id="infoPerso">

                                                        </div>
                                                    </section>
                                                    <!-- Step 4 -->
                                                    <h6>Vos informations de connexion</h6>
                                                    <section>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>{{ form_label(form.email) }}</label>
                                                                    {{ form_widget(form.email,{ attr: { placeholder:'', class:'form-control required',required:'required' } }) }}
                                                                    <p class="class" id="emailError" style="display:none; color:red;">
                                                                        Cet email est déjà utilisé.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>{{ form_label(form.plainPassword.first) }}</label>
                                                                    {{ form_widget(form.plainPassword.first,{ attr: { placeholder:'',
                                                                        class:'form-control ',
                                                                        required:'required'} }) }}
                                                                </div>
                                                                <div class="form-group">
                                                                    <div id="pswd_info" style="display: block;">
                                                                        <h4>Le mot de passe doit contenir:</h4>
                                                                        <ul>
                                                                            <li id="length" class="invalid">Au moins <strong> 8 caractères</strong></li>
                                                                            <li id="letter" class="invalid">Au moins <strong> une lettre</strong></li>
                                                                            <li id="capital" class="invalid">Au moins <strong> 1 lettre majuscule</strong></li>
                                                                            <li id="number" class="invalid">Au moins <strong> 1 chiffre</strong></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>{{ form_label(form.plainPassword.second) }}</label>
                                                                    {{ form_widget(form.plainPassword.second,{ attr: { placeholder:'',
                                                                        class:'form-control ', required:'required' } }) }}
                                                                    <p class="class" id="pswd_conf" style="display:none; color:red;">
                                                                        Les deux mot de passe ne correspondent pas.
                                                                    </p>
                                                                </div>
                                                                {{ form_rest(form) }}
                                                            </div>
                                                        </div>
                                                    </section>
                                                {{ form_end(form) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </section>
                    </div>
                </div>
        </div>

    <div id="customLoader" style="display: none;">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label m-t-60">
                Recherche de vos informations...
            </p>
        </div>
    </div>
 </div>
{% endblock %}

{% block javascripts %}
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{{ asset('assets/js/perfect-scrollbar.jquery.min.js') }}"></script>
    <!-- Select2 -->
    <script src="{{ asset('assets/node_modules/select2/dist/js/select2.full.min.js') }}"></script>
    <!--Wave Effects -->
    <script src="{{ asset('assets/js/waves.js') }}"></script>
    <!--Menu sidebar -->
    <script src="{{ asset('assets/js/sidebarmenu.js') }}"></script>
    <!--stickey kit -->
    <script src="{{ asset('assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js') }}"></script>
    <script src="{{ asset('assets/node_modules/sparkline/jquery.sparkline.min.js') }}"></script>
    <!--Custom JavaScript -->
    <script src="{{ asset('assets/js/custom.min.js') }}"></script>
    <script src="{{ asset('assets/node_modules/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/node_modules/datepicker/dist/datepicker.js') }}"></script>
    <script src="{{ asset('assets/node_modules/datepicker/i18n/datepicker.fr-FR.js') }}"></script>
    {# Custom Password validation #}
    <script src="{{ asset('assets/js/custom_pass_val.js') }}"></script>
    <!-- This Page JS -->
    <script src="{{ asset('assets/node_modules/wizard/jquery.steps.min.js') }}"></script>
    <script src="{{ asset('assets/node_modules/wizard/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('assets/node_modules/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ asset('') }}dist/js/custom.min.js"></script>
    {# Getting Data #}
    <script>

        // Getting university list
        $.ajax({
            type: 'GET',
            url: Routing.generate('ajax_universite_liste'),
            dataType: 'json',
            async: false, cache: false
        })
            .then(function (data) {
                data.forEach(function (univ) {
                    // create the option and append to Select2
                    $('#univField').append($('<option>', {
                        value: univ.id,
                        text : univ.libelle
                    }));
                });
                $('#univField').select2();
            })
            .catch(function (reason) {
                // console.log(reason)
            });

        // Getting session bac list
        $.ajax({
            type: 'GET',
            url: Routing.generate('ajax_sessionsbac_liste'),
            dataType: 'json',
            async: false, cache: false
        })
            .then(function (data) {
                data.forEach(function (session) {
                    // create the option and append to Select2
                    $('#sessionBacField').append($('<option>', {
                        value: session.id,
                        text : session.libelle
                    }));
                });
                $('#sessionBacField').select2();
            })
            .catch(function (reason) {
                // console.log(reason)
            });

    </script>

    {#<!-- Wizard -->#}
    <script>
         var form = $(".validation-wizard").show();

        {#/**
         * Cette fonction recherche les informations de base entree par l'étudiant
         * Par une requete ajax
         * @param currentIndex
         * @param newIndex
         * @return {boolean}
         */#}

        function isDataValid(currentIndex, newIndex) {

            var data = {
                numeroTable: $('#nuTableField').val(),
                anneeBac: $('#anneeBacField').val(),
                sessionBac: $('#sessionBacField').val(),
                dateNaissance: $('#dateNaissanceField').val(),
                universite: $('#univField').val(),
                numTel: $('#numTelField').val(),


            };
            // console.log('Processing new student data...', data);
            // Getting etudiant info
            $('a[href="#next"]').hide();
            $('#customLoader').show();
            $.ajax({
                type: 'POST',
                url: Routing.generate('ajax_check_bachelier'),
                dataType: 'json',
                data: data,
                async: false, cache: false
            })
                .then(function (response) {
                    // console.log(response);
                    $('#infoPerso').html(response.html);
                    if (!response.error) $('a[href="#next"]').show();
                    else $('a[href="#next"]').hide();
                    $('#customLoader').hide();
                })

                    .catch(function (reason) {
                        $('#customLoader').hide();
                        console.log(reason);
                    });
                return true;
            }




        $(".validation-wizard").steps({
            headerTag: "h6",
            bodyTag: "section",
            transitionEffect: "fade",
            titleTemplate: '<span class="step">#index#</span> #title#',
            labels: {
                finish: "Soumettre"
            },
            onStepChanging: function (event, currentIndex, newIndex) {
                if (currentIndex === 1) {
                    //Si l'etudiant n'est pas international on proccede a la verification des donnees
                   // if (pasInternational ===true) {
                        isDataValid(currentIndex, newIndex);
                    //}

                }

                $('a[href="#next"]').show();
                return currentIndex > newIndex || !(3 === newIndex && Number($("#age-2").val()) < 18) && (currentIndex < newIndex && (form.find(".body:eq(" + newIndex + ") label.error").remove(), form.find(".body:eq(" + newIndex + ") .error").removeClass("error")), form.validate().settings.ignore = ":disabled,:hidden", form.valid())
            },
            onFinishing: function (event, currentIndex) {
                if ($('#fos_user_registration_form_plainPassword_first').val() === $('#fos_user_registration_form_plainPassword_second').val())
                {
                    $('a[href="#finish"]').attr('href', '#shift');
                    checkEmail();

                    $('#pswd_conf').css('display', 'none');
                    if (checkPass()) {return form.validate().settings.ignore = ":disabled", form.valid()}
                    else { $('#pswd_info').show(); }
                }
                else {
                    $('#pswd_conf').css('display', 'block')
                }

            },
            onFinished: function (event, currentIndex) {
                form.submit();
                // swal("Form Submitted!", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem erat eleifend ex semper, lobortis purus sed.");
            }
        }),
        $(".validation-wizard").validate({
                ignore: "input[type=hidden]",
                errorClass: "text-danger",
                successClass: "text-success",
                highlight: function (element, errorClass) {
                    $(element).removeClass(errorClass)
                },
                unhighlight: function (element, errorClass) {
                    $(element).removeClass(errorClass)
                },
                errorPlacement: function (error, element) {
                    error.insertAfter(element)
                },
                rules: {
                    email: {
                        email: !0
                    }
                }
            })
    </script>
    <script>
        $('[data-toggle="datepicker"]').datepicker({
            language: 'fr-FR'
        });
        function scroll() {
            $('html, body').animate({
                scrollTop: $("#steps-uid-0-p-0").offset().top
            }, 1000);

        }
    </script>



{% endblock %}