{% extends 'base.html.twig' %}

{% block title %} {{ parent() ~ '| Liste des reservations' }} {% endblock %}

{% block stylesheets %}
    <style>
        p {
            margin-top: 0px;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('assets/node_modules/datatables/media/css/dataTables.bootstrap4.css') }}">
{% endblock %}


{% block body %}
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Afficher la liste des reservations {{ tag }}</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
                    <li class="breadcrumb-item active">Gestion des reservations</li>
                    <li class="breadcrumb-item active">Liste reservations</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-title">
            <h5>Liste des reservations {{ tag }}</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive m-t-0">
                                <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th style="max-width: 10%">#</th>
                                        <th style="max-width: 10%">Nom & Prénoms Client</th>
                                        <th style="max-width: 10%">Téléphone Client</th>
                                        <th style="max-width: 10%">Date</th>
                                        <th style="max-width: 10%">Etat</th>
                                        <th style="max-width: 10%">Actions</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Nom & Prénoms Client</th>
                                        <th>Téléphone Client</th>
                                        <th>Date</th>
                                        <th>Etat</th>
                                        <th>Actions</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for booking in bookings %}
                                        <tr>
                                            <td>{{ booking.code }}</td>
                                            <td>{{ booking.custFirstName ~ ' ' ~  booking.custFirstName }}</td>
                                            <td>{{ booking.custTel }}</td>
                                            <td>{{ booking.createdAt ? booking.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                            <td>{% if booking.status %}
                                                <span class="badge badge-success badge-pill">Confirmé</span>
                                                {% else %}
                                                <span class="badge badge-warning badge-pill">En attente</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a target="_blank" href="{{ path('booking_show', {id: booking.id}) }}" class="btn btn-outline-success text-success btn-rounded">
                                                    <i class="fas fa-eye"></i> Afficher
                                                </a>
                                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                <a target="_blank" href="{{ path('booking_edit', {id: booking.id}) }}" class="btn btn-outline-primary text-primary btn-rounded">
                                                    <i class="fas fa-edit"></i> Modifier
                                                </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="6">Aucune données</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}