{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Afficher la réservation{% endblock %}

{% block body %}

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Afficher une réservation</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
                    <li class="breadcrumb-item active">Gestion des réservations</li>
                    <li class="breadcrumb-item active">Afficher une réservation</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Réservation</h4>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Statut</th>
                            <td>{{ booking.status ? 'Confirmé' : 'En attente' }}</td>
                        </tr>
                        <tr>
                            <th>Nom du client</th>
                            <td>{{ booking.custLastName }}</td>
                        </tr>
                        <tr>
                            <th>Prénoms du client</th>
                            <td>{{ booking.custFirstName }}</td>
                        </tr>
                        <tr>
                            <th>Téléphone du client</th>
                            <td>{{ booking.custTel }}</td>
                        </tr>
                        <tr>
                            <th>Adresse du client</th>
                            <td>{{ booking.custAddress }}</td>
                        </tr>
                        <tr>
                            <th>Code de la réservation</th>
                            <td>{{ booking.code }}</td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td>{{ booking.createdAt ? booking.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Date de confirmation</th>
                            <td>{{ booking.confirmedAt ? booking.confirmedAt|date('d-m-Y H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Montant payé</th>
                            <td>{{ booking.amountPaid }}</td>
                        </tr>
                        <tr>
                            <th>Moyen de paiement</th>
                            <td>{{ booking.payment }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col-2">
                        <a class="btn btn-link" href="{{ path('booking_index') }}">Retourner à la liste</a>
                    </div>
                    {#<div class="col-2">#}
                        {#<a class="btn btn-info" href="{{ path('booking_edit', {'id': booking.id}) }}">Modifier</a>#}
                    {#</div>#}
                    {#<div class="col-2">#}
                        {#{{ include('booking/_delete_form.html.twig') }}#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}