<form method="post" action="{{ path('travel_delete', {'id': travel.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ travel.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>