
{% extends 'base.html.twig' %}

{% block title %} {{ parent() ~ '| Liste des voyages archivés' }} {% endblock %}

{% block stylesheets %}
    <style>
        p {
            margin-top: 0px;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('assets/node_modules/datatables/media/css/dataTables.bootstrap4.css') }}">
{% endblock %}


{% block body %}
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Afficher la liste des voyages archivés</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
                    <li class="breadcrumb-item active">Gestion des voyages</li>
                    <li class="breadcrumb-item active">Liste voyages archivés</li>
                </ol>
                <a href="{{ path('travel_new') }}" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Ajouter un nouveau</a>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-title">
            <h5>Liste des voyages archivés</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive m-t-0">
                                <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th style="max-width: 10%">#</th>
                                        <th style="max-width: 10%">Compagnie</th>
                                        <th style="max-width: 10%">Nombre de places</th>
                                        <th style="max-width: 10%">Actions</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Compagnie</th>
                                        <th>Nombre de places</th>
                                        <th>Actions</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for travel in travels %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ travel.company.name }}</td>
                                            <td>{{ travel.sits }}</td>
                                            <td>
                                                <a target="_blank" href="{{ path('travel_show', {id: travel.id}) }}" class="btn btn-outline-success text-success btn-rounded">
                                                    <i class="fas fa-eye"></i> Afficher
                                                </a>
                                                <a target="_blank" href="{{ path('travel_edit', {id: travel.id}) }}" class="btn btn-outline-primary text-primary btn-rounded">
                                                    <i class="fas fa-edit"></i> Modifier
                                                </a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="4">Aucun trajet archvivés.</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}