{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Créer un voyage{% endblock %}

{% block stylesheets %}
    <style>
        p {
            margin-top: 0px;
        }

        fieldset {
            margin-bottom: 15px!important;
            padding: 10px!important;
            border: 2px solid gainsboro;
        }

        legend {
            padding: 0px 3px!important;
            font-weight: bold!important;
            font-variant: small-caps!important;
            width: auto;
            color: #6c757d;
        }
        .no_mg_bt label {
            margin-bottom: 0;
        }
        legend small {
            font-size: 70%;
        }
        .text-label {
            color: #959595!important;
        }
        span.select2.select2-container.select2-container--default.select2-container--above.select2-container--focus {
            width: auto!important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Créer un voyage</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
                    <li class="breadcrumb-item active">Gestion des voyages</li>
                    <li class="breadcrumb-item active">Créer un voyage</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-title">
            <h5>Ajouter un voyage</h5>
        </div>
        <div class="card">

            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        {{ include('travel/_form.html.twig') }}
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex ">
                <a class="btn" href="{{ path('travel_index') }}">Retourner à la liste</a>
            </div>
        </div>
    </div>

{% endblock %}