{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Afficher le voyage{% endblock %}

{% block body %}

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Afficher un voyage</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
                    <li class="breadcrumb-item active">Gestion des voyages</li>
                    <li class="breadcrumb-item active">Afficher un voyage</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Voyages</h4>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Date</th>
                            <td>{{ travel.date ? travel.date|date('d-m-Y') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Départ</th>
                            <td>{{ travel.dep }}</td>
                        </tr>
                        <tr>
                            <th>Destination</th>
                            <td>{{ travel.dest }}</td>
                        </tr>
                        <tr>
                            <th>Nombre de places</th>
                            <td>{{ travel.sits }}</td>
                        </tr>
                        <tr>
                            <th>Heure de départ</th>
                            <td>{{ travel.depHour }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col-2">
                        <a class="btn btn-link" href="{{ path('travel_index') }}">Retourner à la liste</a>
                    </div>
                    <div class="col-2">
                        <a class="btn btn-info" href="{{ path('travel_edit', {'id': travel.id}) }}">Modifier</a>
                    </div>
                    <div class="col-2">
                        {{ include('travel/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}