{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Créer un compagnie{% endblock %}

{% block stylesheets %}
    <style>
        p {
            margin-top: 0px;
        }

        fieldset {
            margin-bottom: 15px!important;
            padding: 10px!important;
            border: 2px solid gainsboro;
        }

        legend {
            padding: 0px 3px!important;
            font-weight: bold!important;
            font-variant: small-caps!important;
            width: auto;
            color: #6c757d;
        }
        .no_mg_bt label {
            margin-bottom: 0;
        }
        legend small {
            font-size: 70%;
        }
        .text-label {
            color: #959595!important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Créer un compagnie</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
                    <li class="breadcrumb-item active">Gestion des compagnies</li>
                    <li class="breadcrumb-item active">Créer un compagnie</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-title">
            <h5>Ajouter un compagnie</h5>
        </div>
        <div class="card">

            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        {{ include('company/_form.html.twig') }}
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex ">
                <a class="btn" href="{{ path('company_index') }}">Retourner à la liste</a>
            </div>
        </div>
    </div>

{% endblock %}
