{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Afficher la compagnie{% endblock %}

{% block body %}

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Afficher une compagnie</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
                    <li class="breadcrumb-item active">Gestion des compagnies</li>
                    <li class="breadcrumb-item active">Afficher une compagnie</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Compagnie</h4>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                {% if company.media %}
                                    <img class="img img-thumbnail img-responsive card-img" src="{{ asset('uploads/medias/' ~ company.media) }}" alt="logo">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Nom</th>
                                    <td>{{ company.name }}</td>
                                </tr>
                                <tr>
                                    <th>Tel</th>
                                    <td>{{ company.tel }}</td>
                                </tr>
                                <tr>
                                    <th>Adresse</th>
                                    <td>{{ company.address }}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ company.email }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col-2">
                        <a class="btn btn-link" href="{{ path('company_index') }}">Retourner à la liste</a>
                    </div>
                    <div class="col-2">
                        <a class="btn btn-info" href="{{ path('company_edit', {'id': company.id}) }}">Modifier</a>
                    </div>
                    <div class="col-2">
                        {{ include('company/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}