<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Réservation Routière Rapide">
    <meta name="author" content="Taga Réservation Routière Rapide; Taga">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('logo.png') }}">
    <title>{% block title %} Taga Réservation Routière Rapide {% endblock %}</title>
    <!-- This page CSS -->
    <link href="{{ asset('assets/node_modules/select2/dist/css/select2.min.css') }}" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="{{ asset('assets/node_modules/morrisjs/morris.css') }}" rel="stylesheet">
    <!--Toaster Popup message CSS -->
    <link href="{{ asset('assets/node_modules/toast-master/css/jquery.toast.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ asset('assets/css/style.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet">
    <!-- Dashboard 1 Page CSS -->
    <link href="{{ asset('assets/css/pages/dashboard1.css') }}" rel="stylesheet">
    <!-- Customize  CSS -->
    {% block stylesheet %}
    {% endblock %}

    <link href="{{ asset('assets/node_modules/icheck/skins/all.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/pages/form-icheck.css') }}" rel="stylesheet">

    {# Swal #}
    <link rel="stylesheet" href="{{ asset('assets/node_modules/sweetalert/sweetalert2.css') }}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{ asset('assets/js/html5shiv.js') }}"></script>
    <script src="{{ asset('assets/js/respond.min.js') }}"></script>
    <![endif]-->

    <!-- Custom -->
    <style>
        .sidebar-nav ul li ul li a {
            padding: 7px 10px 7px 15px;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: initial!important;
        }
        .pagination {
            position: relative;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            vertical-align: middle;
            margin: 10px 0 10px 0;
        }
        .pagination>span:not(:last-child) {
            border-radius: 0;
        }
        .pagination>span:first-child {
            margin-left: 0;
            border-bottom-left-radius: 0.25rem;
            border-top-left-radius: 0.25rem;
        }
        .pagination>span:last-child {
            margin-left: 0;
            border-radius: 0 0.25rem 0.25rem 0;
        }
        .pagination>span.current {
            font-weight: bold;
            background-color: #fb9678;
            color: white;
            padding: 0.5rem 1rem;
        }
        .pagination>span {
            color: #6c757d;
            background-color: #fff;
            position: relative;
            -webkit-box-flex: 0;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-size: 0.875rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            padding: 0.5rem 0.25rem;
            border: 1px solid #dee2e6;
        }
        .pagination>span>a {
            color: #6c757d;
            padding: 0.375rem 0.75rem;
        }
    </style>
    <style>
        @media only screen and (max-width: 768px) {
            .page-titles h4 {
                font-size: 16px;
            }
            .logo  {
                max-width: 100%;
                height: 40px;
            }
        }
    </style>
    <style>
        .logo  {
            max-width: 100%;
            height: 60px;
        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body class="skin-green fixed-layout">
{% block preloader %}
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">
                Espace Taga Réservation Routière Rapide
            </p>
        </div>
    </div>
{% endblock %}

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    {% block topbar %}
        {% include 'partials/topbar.html.twig' %}
    {% endblock %}

    {% block sidebar %}
        {% include 'partials/sidebar.html.twig' %}
    {% endblock %}

    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper"><div class="container-fluid">{% block body %}{% endblock %}</div></div>

    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}
</div>

<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="{{ asset('assets/node_modules/jquery/jquery-3.2.1.min.js') }}"></script>
<!-- Bootstrap popper Core JavaScript -->
<script src="{{ asset('assets/node_modules/popper/popper.min.js') }}"></script>
<script src="{{ asset('assets/node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{{ asset('assets/js/perfect-scrollbar.jquery.min.js') }}"></script>
<!--Wave Effects -->
<script src="{{ asset('assets/js/waves.js') }}"></script>
<!--Menu sidebar -->
<script src="{{ asset('assets/js/sidebarmenu.js') }}"></script>
<!--Custom JavaScript -->
<script src="{{ asset('assets/js/custom.min.js') }}"></script>
<!-- <script src="{{ asset('assets/js/custom.js') }}"></script> -->
<script src="{{ asset('assets/js/customscripts.js') }}"></script>

<!-- ============================================================== -->
<!-- Date Picker Plugin JavaScript -->
<script src="{{ asset('assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
<!--morris JavaScript -->
<script src="{{ asset('assets/node_modules/raphael/raphael-min.js') }}"></script>
<script src="{{ asset('assets/node_modules/morrisjs/morris.min.js') }}"></script>
<script src="{{ asset('assets/node_modules/jquery-sparkline/jquery.sparkline.min.js') }}"></script>
<!-- Popup message jquery -->
<!-- cu -->
<script src="{{ asset('assets/js/cu.js') }}"></script>
<script src="{{ asset('assets/node_modules/toast-master/js/jquery.toast.js') }}"></script>
<script src="{{ asset('assets/node_modules/sweetalert/sweetalert.min.js') }}"></script>
<!-- Select2 -->
<script src="{{ asset('assets/node_modules/select2/dist/js/select2.full.min.js') }}"></script>
<script src="{{ asset('assets/node_modules/icheck/icheck.min.js') }}"></script>
<script src="{{ asset('assets/node_modules/icheck/icheck.init.js') }}"></script>
<script>
    $(document).ready(function() {
        $('select.form-control').select2();
        $('select.custom-select').select2();
    });
</script>
{#<!-- FOS JS Routing -->#}
{#<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>#}
{#<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>#}

<!-- ============================================================== -->
<!-- All notification -->
<!-- ============================================================== -->
<script>
    {% for msg in app.session.flashBag.get('notification') %}
    //This is for the Notification top right
    $.toast({
        heading: 'Notification',
        text: '{{ msg }}',
        position: 'top-right',
        loaderBg: '#ff6849',
        icon: 'info',
        hideAfter: 3500,
        stack: 6
    });
    {% endfor %}

    {% for msg in app.session.flashBag.get('error') %}
    //This is for the Notification top right
    $.toast({
        heading: 'Notification',
        text: '{{ msg }}',
        position: 'top-right',
        loaderBg: '#ff6849',
        icon: 'danger',
        hideAfter: 3500,
        stack: 6
    });
    {% endfor %}

</script>
{# Delete confimation sweet alert #}
<script>
    //Parameter
    function deleteHandler(event, a) {
        event.preventDefault();
        var href = $(a).attr('href');
        swal({
            title: "Êtes-vous certain de vouloir supprimer?",
            text: "Vous ne serez plus capable de recuperer cela!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Oui!",
            cancelButtonText: "Annuler!",
            closeOnConfirm: true,
            closeOnCancel: true
        }, function(isConfirm){
            if (isConfirm)
            {
                // swal("Deleted!", "Your imaginary file has been deleted.", "success");
                window.location = href;
            }
            // else
            // {
            //     swal("Cancelled", "Your imaginary file is safe :)", "error");
            // }
        });
    }
</script>
<script>
    $('.count').counterUp({
        delay: 10,
        time: 3000
    });
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
