
{{ form_start(form) }}
 {% if form_errors(form) or errors is defined %}
     <div class="row d-flex justify-content-center">
         <div class="alert alert-danger text-center col-10">
             {% if errors %}
                 <p>
                     {% for error in errors %}{{ error }}<br>{% endfor %}
                 </p>
             {% endif %}
         </div>
     </div>
 {% endif %}
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <div>{{ form_label(form.email) }}</div>
            <div>{{ form_widget(form.email) }}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <div>{{ form_label(form.plainPassword.first) }}</div>
            <div>{{ form_widget(form.plainPassword.first) }}</div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <div>{{ form_label(form.plainPassword.second) }}</div>
            <div>{{ form_widget(form.plainPassword.second) }}</div>
            <span id="pass_conf" class="text-danger" style="display: none; font-weight: 500">
                Les mot de passe ne correspondent pas.
            </span>
        </div>
    </div>
</div>
<div class="row">
    {% if form.roles %}
    <div class="col-6">
        <div class="form-group">
            <div>Type d'utilisateur</div>
            <div>{{ form_widget(form.roles) }}</div>
        </div>
    </div>
    {% endif %}
</div>
<div class="row">
    {% if form.enabled is defined %}
    <div class="col-6">
        <div class="form-group">
            <div>{{ form_widget(form.enabled) }}</div>
        </div>
    </div>
    {% endif %}

</div>

<button id="submit" class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
