{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modifier l'utilisateur{% endblock %}

{% block stylesheets %}
    <style>
        p {
            margin-top: 0px;
        }

        fieldset {
            margin-bottom: 15px!important;
            padding: 10px!important;
            border: 2px solid gainsboro;
        }

        legend {
            padding: 0px 3px!important;
            font-weight: bold!important;
            font-variant: small-caps!important;
            width: auto;
            color: #6c757d;
        }
        .no_mg_bt label {
            margin-bottom: 0;
        }
        legend small {
            font-size: 70%;
        }
        .text-label {
            color: #959595!important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Modifier un nouvel utilisateur</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
                    <li class="breadcrumb-item active">Gestion des utilisateurs</li>
                    <li class="breadcrumb-item active">Modifier un utilisateur</li>
                </ol>
                <a href="{{ path('user_new') }}" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Ajouter un nouveau</a>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-title">
            <h5>Modifier un utilisateur</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            </div>
            <div class="card-footer d-flex ">
                <a class="btn " href="{{ path('user_index') }}">Retourner à la liste</a>
                {{ include('user/_delete_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        /* Lors de la modification on peut ne pas vouloir modifier le mot de passe donc on peut desactiver le controle
         * par defaut celui-ci sera activé une fois que le champs mot de passe sera edité
         */
        var first = $('#user_plainPassword_first');
        var second = $('#user_plainPassword_second');


        $(first).keyup(function (e) {
            $('#submit').attr('disabled', 'disabled');
        });

        $(first).removeAttr('required');
        $(second).removeAttr('required');

        $(second).keyup(function (e) {
            if ( $(this).val() ===  $('#user_plainPassword_first').val()) {
                $('#submit').removeAttr('disabled');
                $('#pass_conf').css('display', 'none');
            }
            else {
                $('#submit').attr('disabled', 'disabled');
                $('#pass_conf').css('display', 'block');
            }
        })
    </script>
{% endblock %}