{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Afficher l'utilisateur{% endblock %}

{% block body %}

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Afficher un utilisateur</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
                    <li class="breadcrumb-item active">Gestion des utilisateurs</li>
                    <li class="breadcrumb-item active">Afficher un utilisateur</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Utilisateur</h4>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Nom</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>Compte actif</th>
                            <td>{{ user.enabled ? 'OUI' : 'NON' }}</td>
                        </tr>
                        <tr>
                            <th>Tel</th>
                            <td>{{ user.tel }}</td>
                        </tr>
                        <tr>
                            <th>Adresse</th>
                            <td>{{ user.adresse }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col-2">
                        <a class="btn btn-link" href="{{ path('user_index') }}">Retourner à la liste</a>
                    </div>
                    <div class="col-2">
                        <a class="btn btn-info" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                    </div>
                    <div class="col-2">
                        {{ include('user/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}